.user {
    min-height: 52;
    width: 600px;    
    margin-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 12px;
}

.mainChatLayout {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
}

.userLayout {
    flex: 1;
    margin-left: 24px;
    margin-right: 24px;
    overflow: auto;
    margin-bottom: 24px;
}

.fromUserLayout {
    display: flex;
    flex: 1;
}

.userCurrentLayout {
    justify-content: flex-start;
}

.userCurrent {
    background-color: lightblue;
}

.userOtherLayout {
    justify-content: flex-end;
}

.userOther {
    background-color: lightcoral;
}

.chatUser {
    font-weight: bold;
}

.chatTimestamp {
    font-size:small;
    float: right;
    font-style: italic;
}
/* input */
.inputAreaStyle {
    display: flex;
    flex-direction: 'row';
    margin-top: 24px;
}

.input {
    flex: 11px;
    height: 32px;
    font-size: 28;
}

.formInput {
    display: flex;
    flex-direction: 'row';
    flex: 1
}

.buttonStyle {
    flex: 1;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 18;
    border-width: 0;
}

.addFAQButton {
    background-color: white;
    color: black;
    font-size: 22;
    margin-bottom: 24;
    border-width: 0;
    font-weight: bold;
    border-radius: 8;
    padding-top: 4;
    padding-bottom: 4;
    padding-left: 8;
    padding-right: 8;
}