/* create the grey bar under the navbar */
.headingLine {
  border-bottom: 2px solid lightgray
  ;
}

/* LINK RELATED STYLED */
.disabled-link {
  pointer-events: none;
}

.custom-nav-link {
  color: grey;
}

.custom-nav-link:hover {
  color: black;
}

.noBullets {
  list-style: none;
  font-size: 20px;
}

.funkyNav {
  text-decoration: none;
  color: black;
}

.funkyNav:hover {
  border-bottom: inset 2px #e74c3c;
  color: black;
}

/* HINTS PAGE */
/* Button stles*/
.buttonProblemSpecific {
  background-color: #27ae60;
  border: none;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: #FFF;
  transition-duration: 0.4s;
  text-shadow: 0 1px #145b32;
  box-shadow: 0 0.2rem #1e8449;
}

.buttonGeneral {
  background-color: #2980b9;
  border: none;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: #FFF;
  transition-duration: 0.4s;
  text-shadow: 0 1px #164666;
  box-shadow: 0 0.2rem #20638f;
}

.buttonProblemSpecific:hover {
  background-color: #2cc36b;
}

.buttonGeneral:hover {
  background-color: #2e8ece;
}

.buttonAnswer:hover {
  background-color: #a3b1b2;
}

.headerProblemSpecific {
  color: #27ae60;
}

.headerGeneral {
  color: #2980b9;
}

.borderProblemSpecific {
  border: 3px solid #89e5b0;
  border-radius: 10px;
  padding: 5px 5px 7px 5px;
}

.borderGeneral {
  border: 3px solid #94c6e7;
  border-radius: 10px;
  padding: 5px 5px 7px 5px;
}

/* ANSWER SECTION */
.buttonAnswer {
  background-color: #95a5a6;
  border: none;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  color: white;;
  box-shadow: 0 0.2rem #798d8f;
  text-shadow: 0 0.075rem #617374;
}


.tableDebug {
  border: 1px solid black;
}