.headingLine {
  border-bottom: 2px solid lightgray
  ;
}

.buttonProblemSpecific {
  background-color: #27ae60;
  border: none;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: #FFF;
  transition-duration: 0.4s;
  text-shadow: 0 1px #145b32;
  box-shadow: 0 0.2rem #1e8449;
}

.buttonGeneral {
  background-color: #2980b9;
  border: none;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: #FFF;
  transition-duration: 0.4s;
  text-shadow: 0 1px #164666;
  box-shadow: 0 0.2rem #20638f;
}

.buttonAnswer {
  background-color: #95a5a6;
  box-shadow: 0 0.2rem #798d8f;
  color: white;
  text-shadow: 0 0.075rem #617374;
}

.buttonProblemSpecific:hover {
  background-color: #2cc36b;
}

.buttonGeneral:hover {
  background-color: #2e8ece;
}

.buttonAnswer:hover {
  background-color: #a3b1b2;
}

.headerProblemSpecific {
  color: #27ae60;
}

.headerGeneral {
  color: #2980b9;
}

.borderProblemSpecific {
  border: 3px solid #27ae60;
  border-radius: 10px;
  padding: 5px;
}

.borderGeneral {
  border: 3px solid #2980b9;
  border-radius: 10px;
  padding: 5px;
}