.chatFeature {
  position: absolute;
  top: -0.0rem;
  right: -0.0rem;

  width: 2rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #121212;
  box-sizing: content-box;
  border-radius: 50%;
  /* color: #FFF; */

}

.fa-comment-dots {
  color: #FF0000;
}

.fa-comment-dots:hover {
  color: #00FF00;
}