.answerGroup input[type="radio"] {
  /* opacity: 0; */
  display: none;
}

.answerGroup label {
  background-color: #95a5a6;
  border: none;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  color: white;
  box-shadow: 0 0.2rem #798d8f;
  text-shadow: 0 0.075rem #617374;
  vertical-align: middle;
  /* display: table-cell !important; */
  margin: 0.5%; 
  height: 100px;
  width: 49%;
  text-align: center;
  /* padding: 10px 0 10px 0; */
  cursor:pointer
}

.answerGroup label:hover {
  background-color: #a3b1b2;
  box-shadow: 0 0.2rem #87999a;
}  

input[type="radio"]:checked + label {
  background-color: #515b5c;
}

.percentage {  
  border-color: white;
  color: black;
  height: 80px;
  line-height: 80px;
  width: 15%;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}